@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Ubuntu:wght@500&display=swap');

:root {
    scroll-behavior: smooth;

    --background: rgba(7, 104, 20, 0.8);

    --clr-primary-200: #f3eed9;
    --clr-primary-400: rgb(19, 19, 19);

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;

    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Kaisei Opti', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: black;
}

body {
    margin: 0;
    font-family: var(--ff--secondary);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-primary);
}

p {
    font-family: var(--ff-secondary);
    font-size: .7em;
    color: var(--clr-primary-200);
    background-color:rgba(6, 65, 13, 0.808);
}

.content-h1,
.content-h2,
.content-h3,
.content-h4,
.new-entry-form label {
    color: var(--clr-primary-200);
    text-shadow: 2px 2px var(--clr-neutral-900);
}

/* Navbar-specific */
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background: var(--background);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.nav-link:hover,
.search-button:hover {
    color: #000;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .nav-link {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.form-search-bar {
    background-color: var(--clr-neutral-100);
    text-align: center;
    height: auto;
    width: 23em;
    background: transparent;
}

.logo {
    max-width: 7em;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: .7em;
    margin-bottom: .7em;
}

/* Button-specific */
.nav-link,
.search-button,
.sp-submit-btn,
.delete-btn,
.edit-btn {
    color: var(--clr-neutral-900);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.sp-submit-btn,
.delete-btn,
.edit-btn {
    color: var(--clr-)
}

.sp-submit-btn:hover,
.delete-btn:hover,
.edit-btn:hover {
    color: var(--clr-neutral-100);
}

.sp-submit-btn {
    background: var(--background);
    color: var(--clr-primary-200);
    box-shadow: 2px 2px 2px 1px var(--clr-neutral-900);
    padding-left: .8em;
    padding-right: .8em;
    text-shadow: 2px 2px var(--clr-neutral-900);
}

.search-button > *,
.sp-submit-btn > * {
    padding: .8em;
    text-decoration: none;
    font-size: 1rem;
    background: transparent;
    color: var(--clr-primary-200);
    text-shadow: 2px 2px var(--clr-neutral-900);
}

.submit-btn,
.back-btn,
.delete-btn,
.edit-btn {
    padding: .8em;
    text-decoration: none;
    font-size: 1rem;
    color: var(--clr-primary-200);
    background:rgb(7, 104, 20);
    text-shadow: 2px 2px var(--clr-neutral-900);
}

/* Entry-specific */
.entry {
    color: var(--clr-primary-200);
    margin-top: 3em;
    min-width: 700px;
}

.entry > p {
    margin-left: 1em;
    margin-right: 1em;
}

.entry > p b {
    color: var(--clr-primary-200);
    font-weight: 1000;
}

.all-entries {
    list-style: none;
    background-color: rgba(122, 122, 122, 0.801);
    padding-left: 0;
    /* padding-right: 50px; */
    margin-top: 0;
}

.entry-image-container {
    display: flex;
    justify-content: center;
}

.entry-image {
    display: flex;
    max-height: auto;
    max-width: 500px;
    justify-content: center;
}

/* Non-navbar */
.content {
    position: relative;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
}

.content-container {
    background-color:rgba(6, 65, 13, 0.644);
    max-width: 50em;
    place-items: center;
    display: grid;
    height: auto;
    margin-top: 94px;
    justify-content: center;
}

.entries-container {
    background-color:rgba(6, 65, 13, 0.644);
    width: 50%;
    height: auto;
    display: grid;
    place-items: center;
}

.entry-btn-container {
    display: flex;
    justify-content: center;
}

hr {
    width: 75%;
}

.content-container > * {
    position: relative;
    font-size: 2rem;
}

.content::before {
    min-height: 100vh;
    content: '';
    background-image: url('https://picsum.photos/1500/1800');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .75;
}

/* Home page */
.scratch-pad-form {
    height: auto;
    margin-bottom: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Text area */
.scratch-pad,
.new-entry-form textarea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: rgba(122, 122, 122, 0.801);
    width: 30em;
    height: 7em;
    color: var(--clr-primary-200);
    font-size: .5em;
    border-radius: 2px;
    border: 2px solid var(--clr-neutral-100);
    box-shadow: 2px 2px 2px 1px var(--clr-neutral-900);
}
.scratch-pad[type=text],
.new-entry-form input[type=text] {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-right {
    text-align: right;
    overflow-wrap: inherit;
}

.text-left {
    text-align: left;
    overflow-wrap: inherit;
}

.text-center {
    text-align: center;
}

.form-search-bar input[type=text],
.new-entry-form input[type=text],
.new-entry-form input[type=date],
.new-entry-form select, option {
    padding: 6px;
    width: 18em;
    margin-top: 0;
    color: var(--clr-primary-200);
    text-shadow: 1px 1px var(--clr-neutral-900);
}

.search-button,
.search-bar {
    background: transparent;
    box-shadow: 2px 2px 2px 1px var(--clr-neutral-900);
}

/* New Entry */
.new-entry-form {
    margin-top: 0;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.new-entry-form input, select {
    background: rgb(7, 104, 20);
    font-size: 1.2rem;
}

.new-entry-form label {
    font-size: 1.8rem;
}

.new-entry-form > * {
    padding: .8em;
}

.templates-list,
.search-results {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
}

.templates-list li > *,
.search-results li > *,
.all-entries li > * {
    color: var(--clr-primary-200);
    text-decoration: none;
}

/* Templates page */
.template-image {
    height: auto;
    width: 400px;
    padding: 20px;
    background-color:rgba(6, 65, 13, 0.644);
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    .logo {
        grid-column: 1 / 2;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-bottom: 0;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .nav-link,
    .search-button,
    .sp-submit-btn,
    .edit-btn,
    .delete-btn {
        opacity: 1;
        position: relative;
    }

    .nav-link::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .nav-link:hover::before {
        transform: scale(1, 1);
    }

    .all-entries {
        max-width: 22em;
    }
}